node_modules
allure-report
allure-results
output
build
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.idea
.vscode
.bash_history
.config/
.local/
.npm/
.pki/
.yarnrc